* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px black;
  border-radius: 1px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(31, 30, 30);
  border-radius: 1px;
}

nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.projects-card .card :hover {
  background-color: #f39158;
  color: beige;
}

.card-img-top {
  height: 200px;
}

.projects-card {
  display: flex;
  flex-direction: row;
  margin: 5%;
}
.card-title {
  min-height: 53px;
}
.card-text {
  min-height: 110px;
}
@media screen and (max-width: 800px) {
  .card-title {
    min-height: 103px;
  }
  .card-text {
    min-height: 120px;
  }
}
@media screen and (max-width: 700px) {
  .projects-card {
    flex-direction: column;
    align-items: center;
  }
  .card-title {
    min-height: 33px;
  }
  .card-text {
    min-height: 100px;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px black;
    border-radius: 0px;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(31, 30, 30);
    border-radius: 1px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}

.Articles-List{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 8%;
  /* cursor: pointer; */
}
.Articles-List a{
  text-decoration: none;
}