@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/* health and Education page */

body {
  margin: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: linear-gradient(90deg, #ff6219 0%, #74ee7e 100%)
}


.Blogs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* align-items: center; */
}

.col-md-4 img {
  height: 221px;
  width: 165px;
}
.Blogs-mobile {
  display: none;
}
@media screen and (max-width: 700px) {
  .Blogs {
    display: none;
  }
  .Blogs-mobile {
    display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .card {
    width: 300px;
  }
  .col-md-4 img {
    height: 200px;
    width: 300px;
  }
}
a{
    text-decoration: none;
    color: #1d1f1d;
}

.card-text{
  color: orangered;
}