@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
  /* for Chrome, Safari, and Opera */
}

/* Header Section */

header a {
  text-decoration: none;
}
header {
  padding: 0 20px;
  background-color: #1d1f1d;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

#brand {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  margin-left: 5%;
}

#brand a {
  color: white;
}

header ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header ul a {
  color: white;
}

header ul li {
  padding: 5px;
  margin-left: 10px;
}

header ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
  background-color: #1d1f1d;
  z-index: 1;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
  header nav {
    display: none;
  }
  #hamburger-icon {
    display: block;
  }
  #brand {
    margin-left: 35%;
  }
}

/*End header */

.section-heading {
  margin-top: 5vh;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 3px;
}


/* Blog page */

.projects-card {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  width: 100%;
  /* height: auto; */
  /* margin-bottom: 2vw; */
}
.projects-card-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* margin-top: 2%; */
  width: 100%;
  min-height: 550px;
  background-color: gainsboro;
}
.projects-card :hover {
  background-color: #FF7826 ;
}
.projects-card-list-image img {
  width: 100%;
  height: 200px;
}
.project-card-list-title {
  font-size: 20px;
  font-weight: 900;
  margin: 2vw 1vw 1vw 2vw;
  text-align: center;
  min-height: 50px;
}
.project-card-list-description {
  text-align: justify;
  min-height: 150px;
  font-size: 15px;
  margin: 0.5vw 0 0 2vw;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.75);
}

.b5 {
  margin: 1vh 3vh 0 4vw;
  width: 60%;
  height: 45px;
  border-radius: 2%;
  cursor: pointer;
  font-size: 15px;
  border: none;
  background-color: rgba(255, 255, 255, 0.644);
}
.project-card-button :hover {
  background-color: black;
  color: white;
}
@media screen and (max-width: 900px) {
  .project-card-list-description {
    height: 250px;
  }
  .projects-card-list {
    width: 400px;
  }
  .projects-card-list-image img {
    width: 400px;
    height: 200px;
  }
  
}
@media screen and (max-width: 700px) {

  .projects-card {
    flex-direction: column;
    height: auto;
    margin-bottom: 2vw;
    align-items: center;

  }
  .projects-card-list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 300px;
    /* margin-left: 10%; */
    /* margin-bottom: 10%; */
    height: auto;
    padding-bottom: 3%;
  }
  .projects-card :hover {
  background-color: #FF7826 ;
  }
  .project-card-list-description {
    height: 100px;
  }
  .projects-card-list-image img {
    width: 300px;
    height: 200px;
  }
  .project-card-button :hover {
    background-color: black;
    color: white;
  }
  .b5 {
    margin: 0.5vw 10vh 0 18vw;
  }
}


/* End blog page */


