* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* text-align: justify; */

}
nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.heading{ 
  text-align: left;
}

.Blog-container {
  margin: 4%;
  background-color: #f0f0f0;
  padding: 0%;
  /* display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between; */
}

.blog-date {
  margin: 2%;
}
.blog-intro {
  margin: 2%;
  margin-top: 4%;
}

.map-mobile{
    display: none;
}

.poverty_image{
  margin-left: 30%;
}
@media screen and (max-width: 700px) {
    .map-PC{
        display: none;
    }
    .map-mobile{
        display: block;
    }
    .poverty_image{
      margin-left: 0%;
    }
}
footer a{
  text-decoration: none;
}

.agri_images{
  margin-left: 10%;
  width: 75%;
}
.figure-caption{
  /* margin-left: 25%; */
  text-align: center;
}

@media screen and (max-width: 700px) {
  .figure-caption{
    margin-left: 12%;
  }
  .agri_images{
    width: 100%;
    margin-left: 0;
  }
}

/* industry */
table{
  margin-left: 8%;
}
td {
  border: 2px solid #dddddd;
  text-align: center;
  padding: 8px;
}
th{
  text-align: center;
  padding: 8px;
  
  color: white;
  border: 1px solid #dddddd;

}

.industy_images{
  margin-left: 15%;
  width: 65%;
}
thead{
  background-color: green; 
}

@media screen and (max-width: 700px) {
  .test{
    margin-left: 0;
    text-align: center;
  }
  .industy_images{
    width: 100%;
    margin-left: 0;
  }
  table{
    margin-left: 0;
  }
  td{
    padding: 2px;
  }
}