@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
    margin: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/* Header Section */

header a {
    text-decoration: none;
}

header {
    padding: 0 20px;
    background-color: #1d1f1d;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

#brand {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 5%;
}

#brand a {
    color: white;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul a {
    color: white;
}

ul li {
    padding: 5px;
    margin-left: 10px;
}

ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

#hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
}

#hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
    opacity: 0;
}

.open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    height: calc(100vh - 50px);
    width: 100%;
    background-color: #1d1f1d;
    z-index: 1;
}

.mobile-menu li {
    margin-bottom: 10px;
}

@media only screen and (max-width: 700px) {
    header nav {
        display: none;
    }
    #hamburger-icon {
        display: block;
    }
    #brand {
        margin-left: 35%;
    }
}


/*End header */

.section-heading {
    margin-top: 10vh;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 3px;
}



/* Landing page */

.landing-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .landing-background {
    /* position: absolute; */
    width: 100%;
    animation: animate 40s linear infinite;
    background-size: cover;
    background: rgba(0, 0, 0, 0.5);
  }
  
  @keyframes animate {
    0%,
    100% {
      background-image: url(../images/health.jpg);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    20% {
      background-image: url(../images/education.jpg);
      background-position: center;
      background-repeat: no-repeat;
    }
    40% {
      background-image: url(../images/industry.jpg);
      background-position: center;
      background-repeat: no-repeat;
    }
    60% {
      background-image: url(../images/science.jpg);
      background-position: center;
      background-repeat: no-repeat;
    }
    80% {
      background-image: url(../images/tourism.jpg);
      background-position: center;
      background-repeat: no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
  
  .landing-info {
    font-size: 55px;
    font-style: normal;
    font-weight: 900;
    color: black;
    width: 50%;
    margin-top: 9%;
    margin-left: 20%;
  }
  
  .landing-info-describe {
    font-size: 25px;
    font-style: normal;
    font-weight: normal;
    color: black;
    width: 50%;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 5%;
  }
  
  @media screen and (max-width: 700px) {
    .landing-info {
      font-size: 35px;
      font-weight: 800;
      width: 80%;
    }
    .landing-info-describe {
      width: 70%;
      margin: 20%;
      font-weight: 600;
      text-align: justify;
      font-size: 25px;
    }
    .landing-background {
      filter: grayscale(50%);
    }
    .section-heading {
      margin: 10%;
    }
  }
  
  /* End Landing page */
  