* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
body {
  box-sizing: border-box;
  background-color: #1d1f1d;
  /* background: url("../images/cool-background.png"); */
  color: white;
  background: url("../images/ocean.jpg");
}
.about-section{
  position: absolute;
  /* top: 80px; */
  /* left: auto; */
}




.jumbotron{
  width: 100%;
}