* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
body {
  box-sizing: border-box;
  background-color: #1d1f1d;
  background: linear-gradient(rgba(255, 255, 255, 0.164), rgba(255, 255, 255, 0.295)), url("../images/cool-background.png");

  color: white;
  /* background: url("../images/cool-background.png"); */
}
.about-section{
  position: absolute;
  /* top: 80px; */
  /* left: auto; */
}
.container{
  text-align: left;
}

p{
  background-color: black;
  padding: 20px;
  border-radius: 30px;
}

.jumbotron{
  width: 100%;
}
.mobile{
  display: none;
}

@media screen and (max-width: 700px) {
  .PC{
    display: none;
  }
  .mobile{
    display: block;
  }
  p{
    width: 90%;
  margin-left: 5%;

  }
  h1{
    margin-left: 10%;

  }

}