* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav ul li:hover {
    transform: scale(1.1);
    transition: 0.3s;
  }
  
/* .section-heading {
    margin-top: 10vh;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 3px;
} */


/* .team-card-container {
    margin-top: 8%;
    float: left;
    width: 28%;
    margin-bottom: 16px;
    padding: 0 8px;
    margin-left: 4%;
  }
  
  @media screen and (max-width: 700px) {
    .team-card-container {
      width: auto;
      display: block;
      height: auto;
    }
  }
  .team-container {
    width: 100%;
  }
  
  .card-image {
    width: 250px;
    height: 250px;
    margin-left: 5%;
  }
  .card-image img {
    margin-left: 12%;
    border-radius: 50%;
  }
  .team-container-inside {
    padding: 0 90px;
  }
  
  h2 {
    margin-left: 20%;
  }
  .card-title {
    color: grey;
    margin-left: 20%;
  } */


  body {
    background: linear-gradient(90deg, #ff9736 0%, #74ee7e 100%)
}

.container {
    background-color: white;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
    margin-bottom: 50px
}

.title {
    font-size: 25px;
    font-weight: 100
}

.icon {
    position: relative;
    bottom: 11px
}

.mt-100 {
    margin-top: 100px
}

.profile img {
    width: 108px;
    height: 108px;
    border-radius: 50%
}

.card {
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2)
}

.card-body {
    position: relative;
    bottom: 35px
}

.btn {
    margin-top: 36px;
    margin-bottom: 45px;
    background-color: #AB47BC;
    border: none;
    color: #fff
}

.btn:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    color: #fff
}

.header {
    padding-top: 40px
}